html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgb(37, 42, 61);
}

img {
  height: auto;
}
