.mainHeader {
  padding: 10px;
  background-color: rgb(39, 92, 115);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: inset -1px 2px 6px 0px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.28);
}
.mainHeader a {
  text-decoration: none;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: flex-start;
  font-size: 42px;
}
.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainNav a {
  margin-right: 1rem;
}
