.mainHeader {
  padding: 10px;
  background-color: var(--blue);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--shadow-box);
  -webkit-box-shadow: var(---moz-box-shadow);
  -moz-box-shadow: var(---moz-box-shadow);
}
.mainHeader a {
  text-decoration: none;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  padding: 1 rem;
}
.title {
  display: flex;
  justify-content: flex-start;
  font-size: 42px;
}
.mainNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainNav a {
  margin-right: 1rem;
}
