.card {
  margin: 1rem;
  flex-basis: 15%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea;
  border-radius: 10px; */
  transition: color 0.15s ease, border-color 0.15s ease;
}

.body {
  padding: 10px 5px 10px 5px;
  font-size: 11px;
}
.cover img {
  width: 240px;
  height: 200px;
  object-fit: cover;
  object-position: 25% 25%;
  margin-bottom: 8px;
  border-radius: 4px;
  opacity: 65%;
  transition: all 0.3s;
  box-shadow: inset -1px 2px 6px 0px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.28);
}

.cover img:hover {
  opacity: 100%;
}
.card:hover,
.card:focus,
.card:active {
  font-weight: 600;
}

.card:hover .cover img {
  opacity: 100%;
}
.h3 {
  margin: 0 0 0.75rem 0;
  font-size: 0.75rem;
}

.p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.28);
  margin-bottom: 16px;
}
.delete {
  display: flex;
  justify-content: flex-end;
}
.price {
  color: blue;
}
